POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=calendar
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable

RABBITMQ_USER=rabbit
RABBITMQ_PASS=password
RABBITMQ_PORT=5672
RABBITMQ_QUEUE=calendar_events

CALENDAR_HTTP_PORT=8080
CALENDAR_GRPC_PORT=9090