POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=calendar_test
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable

RABBITMQ_USER=rabbit
RABBITMQ_PASS=password
RABBITMQ_PORT=5672
RABBITMQ_QUEUE=calendar
RABBITMQ_HOST=rabbitmq

CALENDAR_HTTP_PORT=8080
CALENDAR_GRPC_PORT=9090

DB_CONN=postgres://postgres:postgres@db:5432/calendar_test?sslmode=disable
CALENDAR_HOST=calendar