POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=calendar
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable

RABBITMQ_USER=rabbit
RABBITMQ_PASS=password
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_QUEUE=calendar

CALENDAR_HTTP_PORT=8080
CALENDAR_GRPC_PORT=9090

SCHEDULER_INTERVAL=1m